
.footer-2021 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(5, 104, 252);
  color: white;
  text-align: center;
  
}


.footer-logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer-logo a {
  display: block;
}

.footer-logo img {
  max-width: 10%;
}


.num-5 {
  margin-top: 20px; 
  border-bottom: 1px solid white; 
  padding-bottom: 10px; 
  list-style: none;
  display: flex;
  justify-content: space-around;
  

}

.num-5 a {
  color: white;
  text-decoration: none;
}

.num-3 {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;

}


.num-3 li a {
  color: white;
  text-decoration: none;
}
#footer-copyright {
  text-align: left; /* Justerer teksten til højre i div'en */
}

#dmi {
  float: right; /* Flytter "DMI" til venstre side */
}

