
.footer-2021 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(5, 104, 252);
  color: white;
  text-align: center;
  
}


.footer-logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer-logo a {
  display: block;
}

.footer-logo img {
  max-width: 10%;
}


.num-5 {
  margin-top: 20px; 
  border-bottom: 1px solid white; 
  padding-bottom: 10px; 
  list-style: none;
  display: flex;
  justify-content: space-around;
  

}

.num-5 a {
  color: white;
  text-decoration: none;
}

.num-3 {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;

}


.num-3 li a {
  color: white;
  text-decoration: none;
}
#footer-copyright {
  text-align: left; /* Justerer teksten til højre i div'en */
}

#dmi {
  float: right; /* Flytter "DMI" til venstre side */
}
/* CSS for kommentarsektionen */
.footer-comments {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  width: 80%; /* Juster bredden efter behov */
  max-width: 400px; /* Sæt en maksimal bredde for at begrænse størrelsen */
  margin: 0 auto; /* Centrer kommentarsektionen på siden */
}

#comment-list {
  list-style: none;
  padding: 0;
}

#comment-input {
  width: 90%; /* Øg bredden til 90% af forælderens bredde */
  margin-right: 10px;
  padding: 40px; /* Øg padding for at give mere plads til tekst */
  border: 1px solid #ccc;
  border-radius: 3px;
}


#comment-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#comment-button:hover {
  background-color: #0056b3;
}

