body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Del siden i to kolonner */
    grid-gap: 30px; /* Tilføj mellemrum mellem kolonnerne */
    background-color: #FAFAFA;
}


#search {
    width: 613px;
    align-items: center;
    height: 150px;
    grid-column: 2;
    background-color: #FFFFFF;
}

#search h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

#searchbar {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #F4F4F4;
}

#searchbar input[name="q"] {
    width: 570px; /* Ændr bredden efter behov */
    height: 60px; /* Ændr højden efter behov */
    border-radius: 50px;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    margin-left: 15px;
    background-color: transparent;
}

#search-button {
    height: 22px;
    margin-left: 20px;
}




#vejrdk {
    text-align: center;
    grid-column: 2;
    
}

#vejrdk img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#rad {
    margin-top: 0px;
    grid-column: 3;
  
}

#texp {
    margin-top: 20px;
}