.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; /* Mindsk gap til 5px for mindre mellemrum */
}

.image-box {
  padding: 5px; /* Reducer padding til 5px for mindre mellemrum */
  box-sizing: border-box; /* Bevar padding i bredden */
  text-align: center;
  margin: 20px; /* Fjern margin */
}

.image {
  max-width: 100%; /* Gør billedets bredde maksimalt lig med containerens bredde */
  height: auto; /* Bevar billedets proportioner */
}

body {
  background-color: #f4f4f4;
}
h2 {
margin: 20px;
}
.image2 {
  max-width: 100%; 
  height: auto;
}